{% extends "base.html.j2"%}
{% block title%}
Poke Lookup
{% endblock %}
{% block content %}
<h1>Welcome, Pokemon Hunter!</h1>
Proceed to our Pokemon lookup tool to continue your journey...

{% endblock %}